.conteiner {
	border: 5px groove green;
	height: 100px;
	width: 300px;
	padding: 100px;
	margin: 20px;
}
.alternative {
	box-sizing: border-box;
	border: 5px groove red;
	height: 100px;
	width: 300px;
	padding: 10px;
	margin-top: 20px;
	margin-left: 20px;
}
p {
	margin:0;
}
.box {
	height:300px;
	width:300px;
	padding:25px;
	margin:10px;
	border:2px solid red;
	display:flex;
	align-items:center;
	justify-content:center;
}
.box1 {
	border:2px solid black;
	width:100%;
	Height:100%;
}